:root {
  --design-width: 1100;
  --design-height: 680;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  color: white;
  min-height: 100svh;
  overflow-x: hidden;
}

/* LINKS */
a {
  color: white;
  font-size: clamp(12px, 1.2vw, 14px);
}

/* MAIN CONTAINER */
#main {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* SCALED WRAPPER */
#wrap {
  position: relative;
  width: min(95vw, 1100px);
  aspect-ratio: 1100 / 680;
  margin-top: 1vh;
}

/* TEXT AREA */
#text {
  position: absolute;
  width: 24.7%;
  height: 82%;
  left: 17.1%;
  top: 11.8%;
}

/* CODE */
#code {
  display: none;
  color: rgb(196, 255, 255);
  font-size: clamp(14px, 1.5vw, 18px);
  margin-top: 4vh;
  line-height: 1.6;
  font-weight: bolder;
}

/* CLOCK */
#clock-box {
  position: absolute;
  left: 5.4%;
  bottom: 4.5%;
  font-size: clamp(16px, 2vw, 28px);
  display: none;
}

#clock-box a {
  font-size: inherit;
  text-decoration: none;
}

#clock {
  margin-left: 1rem;
}

#clock .digit {
  font-size: clamp(32px, 4vw, 64px);
}

/* CANVAS */
#canvas {
  width: 100%;
  height: 100%;
}

/* ERROR */
#error {
  text-align: center;
  margin-top: 6vh;
  display: none;
}

/* MISC */
.hand {
  cursor: pointer;
}

.say {
  margin-left: 0.3rem;
}

.space {
  margin-right: 10vw;
}

/* MESSAGE */
#message-box {
  position: absolute;
  bottom: 6%;
  left: 5%;
  font-size: clamp(16px, 2vw, 25px);
  font-family: monospace;
}